<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="个人博客" />
	<meta name="description" content="个人博客" /> 
	<!-- <link rel="icon" href="#"> -->	
	<title>个人博客</title>
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/docs.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <!--顶部通栏-->
	{include file="common/header" /}

	<div class="container" style="margin-top: 153px; min-height: 100%">
		<div class="row">
			<div class="col-md-9">

				{volist name="articleres" id="vo"}					
					<div class="row panel panel-success">
						<div class="panel-heading text-center">
							<a target="_blank" href="{:url('article/index',array('arid'=>$vo['id']))}" style="font-size: 25px;">{$vo.title}</a>
							<div>发布时间：{$vo.time|date="Y-m-d",###}</div>
						</div>

						<div class="panel-body">
							<div class="col-md-5">
								<div>
									<a target="_blank" href="20160920156216.html"><img class="img-responsive thumbnail" src="{if condition="$vo['pic'] neq ''"}__IMG__{$vo.pic}{else /}__PUBLIC__/images/error.png{/if}" alt="{$vo.title}"/></a>
								</div>
							</div>

							<div class="col-md-7">								
									<blockquote><p>{$vo.desc}</p></blockquote>

									<div>
										<?php
											$arr=explode(',', $vo['keywords']);
											foreach ($arr as $k=>$v) {
												echo "<span class='label label-info'><a href='http://106.14.227.213/blog/public/index.php/index/search/index?keywords=$v' style='color: white'>$v</a></span>&nbsp;&nbsp;";
											}
										?>
									</div>

							</div>
						</div>
					</div>

				{/volist}				

				<div class="pager">
					{$articleres->render()}
				</div>
			</div>

			<div class="col-sm-3">
		      	{include file="common/right" /}
		    </div>

		</div>
	</div>
	{include file="common/foot" /}
</body>
</html>
